---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>About the Author</h3>
    <section class="copy">
      <a href="/images/profile.png" target="_blank">
        <img src="/images/profile.png" height="50" width="50" />
      </a>

      <p>
        Hi! I'm Nicholas. I like <a href="http://nicholas.zaillian.com">building stuff</a>.
        I'm software development consultant in New York, where I work with startups big and small.
        I am also a sometime <a href="http://bankstreettheatregroup.org">theatre</a> and <a href="http://www.thecollectin.com">film</a> nerd.
        You can reach me by email at <a href="mailto:nicholas@zaillian.com">nicholas@zaillian.com</a> 
        (and you can get my public key <a href="http://nicholas.zaillian.com/key_requests/new">here</a> if you 
        want to encrypt your message). I accept consulting engagements through my company <a href="http://www.writtensoftware.com/" target="_blank" rel="nofollow">Written Software</a>.
      </p>
    </section>
  </section>
</section>